@import 'settings';
@import 'parts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  transition-duration: 2s;
}

.bt {
  position: absolute;
  right: 0px;
}

* {
  box-sizing: border-box;
}

.Index {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  left: 20px;
  top: 400px;
}
.HomeList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: left;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(213, 63, 118);
}
